<div class="card">
  <div class="card-block">
    <div class="row">
      <div class="col-md-12">
        <p class="card-text">
          <span class="text-muted"><%= message.user.first_name %> <%= message.user.last_name %>  <%= message.timestamp %></span><br>
          <div class="message-content"><%= message.body %></div>
        </p>
      </div>
    </div>
  </div>
</div>