<% content_for :title, "Contact" %>
<div class="container">
	<h1>CONTACT</h1>
	<h5>When in doubt, leave us a mail!</h6>
	<div class="row-fluid">
	    <div class="col-md-12">
	      <div class="row">
	        <div class="col-sm-6 form-group">
	          <input class="form-control" id="name" name="name" placeholder="Name" type="text" required>
	        </div>
	        <div class="col-sm-6 form-group">
	          <input class="form-control" id="email" name="email" placeholder="Email" type="email" required>
	        </div>
	      </div>
	      <textarea class="form-control" id="comments" name="comments" placeholder="Comment" rows="5"></textarea>
	      <div class="row">
	        <div class="col-md-12 form-group">
	          <button class="btn pull-right" type="submit">Send</button>
	        </div>
	      </div>
	    </div>
	</div>
</div>
