<li>
	<%= link_to admin_root_path do %>
		Admin Surface
	<% end %>
</li>
<li> 
	<%= link_to projects_path do %>
		Projects
	<% end %>
</li>
<li>
	<%= link_to new_project_path do %>
		Create Project
	<% end %>
</li>